<h1>Listing sponsorship_responses</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Company name</th>
      <th>Title</th>
      <th>Offered sponsorship</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsorship_responses.each do |sponsorship_response| %>
      <tr>
        <td><%= sponsorship_response.first_name %></td>
        <td><%= sponsorship_response.last_name %></td>
        <td><%= sponsorship_response.email %></td>
        <td><%= sponsorship_response.phone_number %></td>
        <td><%= sponsorship_response.company_name %></td>
        <td><%= sponsorship_response.title %></td>
        <td><%= sponsorship_response.offered_sponsorship %></td>
        <td><%= sponsorship_response.comments %></td>
        <td><%= link_to 'Show', sponsorship_response %></td>
        <td><%= link_to 'Edit', edit_sponsorship_response_path(sponsorship_response) %></td>
        <td><%= link_to 'Destroy', sponsorship_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sponsorship response', new_sponsorship_response_path %>
