<div class="container" ng-controller="ShowEventCtrl" ng-init="initWith('<%=h @event.to_json.gsub("'", "&#39;") %>')">
	<div class="margin-left-indent">
		<div class="row">	
			<h1 class="col-md-8"><%= @event.name %></h1>
		</div>

		<div class="row">
			<div class="col-md-3">
				<img id="event-logo" class="center-block" src="<%= @event.image_url %>">
			</div>
			<div class="col-md-6">
				<div id="above-the-description">
					<div class="row">
						<p class="event-details"><span><i id="cal-icon" class="glyphicon glyphicon-calendar"></i></span> {{<%= @event.date_time.strftime("%s") + '000' %> | date : 'EEEE, MMMM d, y h:mm a'}}</p>
					</div>
					<div class="row">
						<table>
							<tr>
								<td><i id="mark-icon" class="glyphicon glyphicon-map-marker"></i></td>
								<td><p class="text-capitalize"> {{streetAddress}}<br>{{cityAndRest}} </p></td>
							</tr>
						</table>
					</div>
					<div id="little-details" class="row">
						<div title="Attendees gender: <%= @event.attendees_gender %>" class="col-md-2 text-center">
							<img id="att-gender" src="/assets/<%= @event.attendees_gender.downcase %>.png"></img>
						</div>
						<div title="Attendees age" class="col-md-2 text-center">
							<div class="row age-icon">Ages</div>
							<div class="row age-detail">{{ageRanges}}</div>
						</div>
						<div title="Number of attendees" class="col-md-2 text-center">
							<div class="row">
								<img id="size-icon" src="/assets/people.png"></img>
							</div>
							<div class="row size-range"><%= @event.size_range %></div>
						</div>
					</div>
				</div>
				<div class="row">
					<p id="ev-desc" class="event-details"><%= @event.description.gsub("\r\n", "<br>").html_safe %> </p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row text-center">
					<p id="event-sponsor-button"><a class="btn btn-orange btn-lg btn-wide btn-bold" role="button" ng-href="/sponsorship_responses/new?event_id=<%= @event.id %>">Sponsor!</a></p>
				</div>
				<div class="row text-center">
					<p id="contact-below-button">or <span><a href="mailto:mrktiers@gmail.com?subject=I would like to sponsor <%= @event.name %>&amp;body=Event ID = 302<%= @event.id %>%0D%0A%0D%0APlease write your communication below this line.%0D%0A%0D%0A%0D%0A" target="_blank">Contact event organizer</a></span></p>
				</div>
			</div>
		</div>
		<div class="row">
			<p id="rest-of-description" class="col-md-9" collapse="!showRestOfDescription" ng-bind-html="restOfText"></p>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div id="read-more" class="description-toggle" ng-click="toggleFullDescription()" ng-hide="showRestOfDescription">
					<a href="">Read more</a>
				</div>
				<div class="description-toggle" ng-click="toggleFullDescription()" ng-show="showRestOfDescription">
					<a href="">Read less</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 margin-left-indent">
				<div class="row">
					<p>Requested sponsorship:</p>
				</div>
				<div class="row" id="capital">
					<div class="col-md-6">
						<p>Capital</p>
					</div>
					<div class="col-md-6">
						<i class="glyphicon glyphicon-ok requested-sponsorship-icon"></i>
					</div>
				</div>
				<div class="row" id="merchandise">
					<div class="col-md-6">
						<p>Merchandise</p>
					</div>
					<div class="col-md-6">
						<i class="glyphicon glyphicon-ok requested-sponsorship-icon"></i>
					</div>
				</div>
				<div class="row" id="discounts">
					<div class="col-md-6">
						<p>Discounts</p>
					</div>
					<div class="col-md-6">
						<i class="glyphicon glyphicon-ok requested-sponsorship-icon"></i>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6">
				<div class="row">
					<div class="col-md-5">
						<p>Total requested:</p>
					</div>
					<div class="col-md-7">
						<p>$<%= @event.total_amount %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<p>Minimum acceptable:</p>
					</div>
					<div class="col-md-7">
						<p>$<%= @event.min_amount %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<p class="col-md-9"><%= @event.sponsorship_requests.gsub("\r\n", "<br>").html_safe %></p>
		</div>
		<div class="row">
			<a class="col-md-9" href="mailto:mrktiers@gmail.com?subject=I would like to sponsor <%= @event.name %>&amp;body=Event ID = 302<%= @event.id %>%0D%0A%0D%0APlease write your communication below this line.%0D%0A%0D%0A%0D%0A" target="_blank">Contact event organizer</a>
		</div>
		<div class="row">
			<div id="map_canvas"></div>
		</div>
	</div>
</div>