<!DOCTYPE html>
<html ng-app="spons">
<head>
	<title>Marketiers</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"-->

	<link rel="shortcut icon" href="https://s3.amazonaws.com/rmktimages/cropped.png">
</head>
<body>
	<div class="row">
		<div class="col-md-12 app-header">
			<div class="center-block content-margins">
				<a class="col-md-4 logo" href="/"><h1>Marketiers</h1></a>
				<div class="col-md-8" id="menu">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/events">Events List</a></li>
						<li><a href="/events">Your Brand</a></li>
						<li><a href="/events">Your Event</a></li>
						<li><a href="/events">About Us</a></li>
						<li><a href="/events">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<%= yield %>

	<div class="row" style="margin-top:3em" />
	<div class="row">
		<div class="col-md-12 app-header">
			<div class="center-block content-margins">
			<a class="col-md-12 logo text-center" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><h3>Ora give me footer please</h3></a>
			</div>
		</div>
	</div>

	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
	<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" %>
	<%= javascript_include_tag "https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js" %>
</body>
</html>
